#root, body, html {
    overflow: hidden;
    margin: 0;
}

#root {
    display: flex;
}

.cards {
    --card-width: calc(100vw * 0.15);
    --card-height: calc(var(--card-width) / 2);
    width: var(--card-width);
    height: 100vh;
    overflow: auto;
    background: #eeeeee;
}

.cards:after {
    content: "";
    display: block;
    height: 48px;
}

.cards .card {
    margin: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.cards .card .fake {
    background: #ffffff20;
    cursor: pointer;
    position: relative;
    height: var(--card-height);
    margin-top: calc(-1 * var(--card-height));
}

.cards .card .footer * {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards .card .footer {
    display: flex;
    margin: 8px 0;
}

.cards .card .footer div:first-child {
    font-weight: bold;
    min-width: 22px;
}

.cards .card .webview-container {
    height: var(--card-height);
    border-bottom: solid 1px #eeeeee;
}

.cards .card .webview-container .webview {
    height: 100%;
}

.big-browser {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.big-browser .big-webview-container {
    flex: 1;
}

.big-browser .address-bar {
    padding: 8px;
}

.big-browser .big-webview-container .webview {
    width: 100%;
    height: 100%;
}

.add-dialog {
    position: absolute;
    bottom: 8px;
    left: 8px
}
