#root, body, html {
    overflow: hidden;
    margin: 0;
}

#root {
    display: flex;
}

.groups {
    --card-width: calc(100vw * 0.15);
    --card-height: calc(var(--card-width) / 2);
    width: var(--card-width);
    height: 100vh;
    overflow: auto;
    background: #eeeeee;
}

.groups:after {
    content: "";
    display: block;
    height: 60px;
}

.groups .card {
    margin: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.groups .card.selected {
    background-color: #ff000020;
}

.groups .card .fake {
    background: #ffffff20;
    cursor: pointer;
    position: relative;
    height: var(--card-height);
    margin-top: calc(-1 * var(--card-height));
}

.groups .card .footer * {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.groups .card .footer {
    display: flex;
    margin: 8px 0;
}

.groups .card .footer div:first-child {
    font-weight: bold;
    min-width: 22px;
}

.groups .card .webview {
    height: var(--card-height);
    width: 100%;
    background: #ffffff;
    z-index: 1;
}

.big-browser {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.big-browser .address-bar {
    padding: 8px;
}

.big-browser .width-height {
    flex: 1;
}

.big-browser .top-left {
    position: absolute;
}

.add-group-dialog {
    position: absolute!important;
    bottom: 8px;
    left: 8px
}

.hidden .webview {
    visibility: visible;
    width: 100% !important;
    left: 0 !important;
}

.hidden .groups, .hidden .add-dialog {
    visibility: hidden;
    width: 0;
}

.hidden-slider {
    position: absolute;
    top: 59px;
    z-index: 100;
}

.sortable-background, .sortable-background * {
    background: #00000001 !important;
}

.sortable-drag {
    opacity: 0;
}

.groups .group .header {
    font-size: 30px;
    margin-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.groups .group .header small{
    border-bottom: dotted 2px;
    cursor: pointer;
}


.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-header.active + .accordion-content {
    max-height: 1000px;
}
